In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
#!pip install nsepy

In [2]:
pip install nsepy

Collecting nsepy
  Downloading nsepy-0.8.tar.gz (33 kB)
Requirement already satisfied: beautifulsoup4 in g:\python_virtual_env\myenv\lib\site-packages (from nsepy) (4.10.0)
Requirement already satisfied: requests in g:\python_virtual_env\myenv\lib\site-packages (from nsepy) (2.26.0)
Requirement already satisfied: numpy in g:\python_virtual_env\myenv\lib\site-packages (from nsepy) (1.21.2)
Requirement already satisfied: pandas in g:\python_virtual_env\myenv\lib\site-packages (from nsepy) (1.4.1)
Requirement already satisfied: six in g:\python_virtual_env\myenv\lib\site-packages (from nsepy) (1.16.0)
Requirement already satisfied: click in g:\python_virtual_env\myenv\lib\site-packages (from nsepy) (8.0.3)
Requirement already satisfied: lxml in g:\python_virtual_env\myenv\lib\site-packages (from nsepy) (4.7.1)
Requirement already satisfied: soupsieve>1.2 in g:\python_virtual_env\myenv\lib\site-packages (from beautifulsoup4->nsepy) (2.3.1)
Requirement already satisfied: colorama in g:\python_virtual_env\myenv\lib\site-packages (from click->nsepy) (0.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in g:\python_virtual_env\myenv\lib\site-packages (from pandas->nsepy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in g:\python_virtual_env\myenv\lib\site-packages (from pandas->nsepy) (2021.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in g:\python_virtual_env\myenv\lib\site-packages (from requests->nsepy) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in g:\python_virtual_env\myenv\lib\site-packages (from requests->nsepy) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in g:\python_virtual_env\myenv\lib\site-packages (from requests->nsepy) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in g:\python_virtual_env\myenv\lib\site-packages (from requests->nsepy) (2.0.9)
Building wheels for collected packages: nsepy
  Building wheel for nsepy (setup.py): started
  Building wheel for nsepy (setup.py): finished with status 'done'
  Created wheel for nsepy: filename=nsepy-0.8-py3-none-any.whl size=36085 sha256=612ae998b75df127f1ced7994898406d67a3ec53fba246587ea7f460a640c3e4
  Stored in directory: c:\users\hp\appdata\local\pip\cache\wheels\50\12\d5\bbea58569f0c28fa7a6cb72cc76303ecd20d40c977742486df
Successfully built nsepy
Installing collected packages: nsepy
Successfully installed nsepy-0.8
Note: you may need to restart the kernel to use updated packages.

In [8]:
from datetime import date
from nsepy import get_history

In [9]:
def get_data(name):
    data = get_history(symbol = name , start=date(2020,1,1), end= date(2022,2,28))
    return data

In [10]:
data = get_data(input('Enter Company Name  : '))

Enter Company Name  : COALINDIA

In [11]:
data.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2020-01-01,COALINDIA,EQ,211.35,211.35,212.60,208.40,211.95,211.95,210.71,6447592,1.358557e+14,48911,1294489,0.2008
2020-01-02,COALINDIA,EQ,211.95,212.50,212.80,208.30,210.95,211.10,210.67,5958343,1.255216e+14,45875,1763059,0.2959
2020-01-03,COALINDIA,EQ,211.10,210.00,212.60,207.70,210.65,211.85,210.47,6452638,1.358096e+14,43299,2147545,0.3328
2020-01-06,COALINDIA,EQ,211.85,209.95,209.95,203.45,205.15,205.70,205.46,6853058,1.408031e+14,54913,2105530,0.3072
2020-01-07,COALINDIA,EQ,205.70,206.50,208.20,204.35,205.75,205.70,206.51,5243225,1.082765e+14,44407,2106932,0.4018

In [12]:
data.tail()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2022-02-22,COALINDIA,EQ,161.20,159.50,160.65,155.50,160.0,159.90,157.85,11654816,1.839767e+14,91942,3855584,0.3308
2022-02-23,COALINDIA,EQ,159.90,160.35,162.30,158.20,159.0,158.50,160.11,7627472,1.221230e+14,58835,3216377,0.4217
2022-02-24,COALINDIA,EQ,158.50,154.00,156.80,149.00,151.0,150.00,153.07,12115340,1.854468e+14,101439,4847837,0.4001
2022-02-25,COALINDIA,EQ,150.00,152.25,164.90,152.25,163.3,163.45,159.74,17079977,2.728358e+14,111614,4251613,0.2489
2022-02-28,COALINDIA,EQ,163.45,162.45,169.95,160.55,169.2,169.55,166.72,20872239,3.479748e+14,129815,5814295,0.2786