In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
#!pip install nsepy

In [2]:
# pip install nsepy

In [3]:
from datetime import date
from nsepy import get_history

In [4]:
def get_data(name):
    data = get_history(symbol = name , start=date(2020,1,1), end= date(2022,2,28))
    return data

In [10]:
data = get_data(input('Enter Company Name  : '))

Enter Company Name  : COALINDIA

In [19]:
data = get_history(symbol = 'TATAMOTORS' , start=date(2020,1,1), end= date(2022,2,28), )

In [21]:
data.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2020-01-01,TATAMOTORS,EQ,185.15,185.15,186.70,183.60,184.25,184.45,185.11,25968357,4.806946e+14,99072,1878537,0.0723
2020-01-02,TATAMOTORS,EQ,184.45,185.00,194.70,184.60,193.85,193.75,190.57,57289863,1.091755e+15,251258,9368491,0.1635
2020-01-03,TATAMOTORS,EQ,193.75,192.90,195.65,189.25,191.25,191.10,192.00,47572728,9.134140e+14,185614,4181757,0.0879
2020-01-06,TATAMOTORS,EQ,191.10,191.00,191.00,185.05,185.40,185.65,187.30,28621212,5.360801e+14,138113,3848110,0.1344
2020-01-07,TATAMOTORS,EQ,185.65,187.00,189.40,182.30,184.35,184.70,185.41,34995035,6.488309e+14,133404,3453069,0.0987

In [22]:
data.tail()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2022-02-22,TATAMOTORS,EQ,494.45,480.55,486.30,471.45,478.50,478.25,479.41,27957544,1.340311e+15,310898,7689870,0.2751
2022-02-23,TATAMOTORS,EQ,478.25,481.75,485.40,475.30,477.00,477.00,480.31,17703998,8.503351e+14,205394,4920749,0.2779
2022-02-24,TATAMOTORS,EQ,477.00,455.95,461.55,405.45,425.90,427.95,443.91,57265685,2.542080e+15,775585,18193568,0.3177
2022-02-25,TATAMOTORS,EQ,427.95,444.85,465.70,441.60,460.85,459.75,459.06,48876182,2.243688e+15,536058,8001318,0.1637
2022-02-28,TATAMOTORS,EQ,459.75,445.00,457.35,440.45,453.95,454.05,452.40,34475468,1.559657e+15,355388,8824925,0.2560