In [47]:
#pip install yfinance

In [41]:
import numpy as np
import pandas as pd
from scipy.stats import boxcox
import matplotlib.pyplot as plt
from scipy.special import boxcox, inv_boxcox
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [42]:
from datetime import date
import yfinance as yf

In [43]:
def get_data(name):
    coal=yf.Ticker(name)
    data1 = coal.history(start='2022-01-01', end='2022-02-28')
    return data1

In [44]:
data = get_data(input('Enter Company Name  : '))

Enter Company Name  : LIN

In [45]:
data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-12-31,343.720001,346.970001,343.630005,346.429993,817800,0,0
2022-01-03,346.420013,346.589996,338.359985,338.640015,1514700,0,0
2022-01-04,338.959991,345.630005,338.269989,344.809998,1919900,0,0
2022-01-05,347.690002,352.179993,346.320007,346.410004,1654900,0,0
2022-01-06,344.679993,345.500000,337.700012,338.010010,1649400,0,0

In [46]:
data.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-02-18,299.809998,305.260010,298.630005,302.859985,2871400,0,0
2022-02-22,291.200012,295.070007,289.739990,293.589996,3590700,0,0
2022-02-23,295.850006,297.119995,290.649994,291.089996,3391600,0,0
2022-02-24,276.750000,285.899994,276.750000,285.250000,4444500,0,0
2022-02-25,287.679993,297.649994,287.600006,297.489990,2888900,0,0